<h1>Eatify Menu</h1>
<div class="btn-group" role="group" aria-label="Basic example">
<% @sections.each do |section| %>
<%= link_to section,menu_path(section: section),class: 'btn btn-secondary' %>

  <% end %>
  
</div>


<% @food_items.in_groups_of(3) do |group|  %>
<div class="row">
<% group.compact.each do |food_item| %>
			<div class="col-sm-4">
					<div class="card" style="width: 20rem;">
					  <%= image_tag food_item.image_url_or_default , alt: food_item.name %>
						  <div class="card-block">
						    <h4 class="card-title"><%= food_item.name %></h4>
						    <p class="card-text"><%= food_item.description %></p>
						  </div>
							 
						  <div class="card-block">
						    <a href="#" class="btn btn-secondary">Order</a>
						  </div>
					</div>
			</div>
			 <% end %>			
</div>



<% end %>


