
<div class="jumbotron">
 
   <h1> Welcome to Eatify </h1>
   <p class="lead"></p>
   <div class="btn-group" role="group" aria-label="Basic example">
    <%= link_to "Menu", '/menu' , class: "btn btn-secondary" %>
<%= link_to "Contact Us", contact_us_path , class: "btn btn-secondary" %>
  
</div>
 
</div>



